@model RecipePrepairViewModel

@{
    ViewData["Title"] = "Калкулация";
}


<div class="container text-center">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />

    <div class="text-center row">

        <div class="input-group mb-3">
            <span class="input-group-text">Сурово количество</span>
            <input type="number" class="form-control">
            <span class="input-group-text">кг.</span>

            <div class="btn-group" >

                <form class="input-group-sm" asp-route-recipeId="@Model.RecipeId" asp-controller="Calculation" asp-action="CalculateRecipe" method="post">
                    <input type="submit" value="Калкулирай" class="fs-6 btn btn-success mb-3 p-2" />
                </form>

            </div>
        </div>


        <div class="card col-4" style="width: 50%;">
            <img class="card-img-top"
                 src="@Model.Recipe.ImageUrl" alt="Recipe Image">
            <div class="card-body te">

                <h4 class="card-title mt-1">@Model.Recipe.Name</h4>
                <hr />
                <h5>Необходими продукти: </h5>
                @foreach (var ing in Model.Recipe.Ingredients)
                {
                    <p>@ing.IngredientName : @Math.Round(ing.Quantity, 2) @ing.MeasureUnit</p>

                }

                @foreach (var sp in Model.Recipe.Spices)
                {
                    <p>@sp.SpiceName : @Math.Round(sp.Quantity, 2) @sp.MeasureUnit</p>

                }
                <br />
                <h5 class="mb-0 card-text">Начин на приготвяне:</h5>
                <br />
                <p class="mb-0"> @Model.Recipe.Description</p>
            </div>

            <div class="btn-group" style="justify-content: space-around">   

                <form class="input-group-sm" asp-route-recipeId="" asp-controller="Calculation" asp-action="AddToPrepairings" method="post">
                    <input type="submit" value="Add to Prepairing" class="fs-6 btn btn-success mb-3 p-2" />
                </form>

            </div>
        </div>

    </div>
</div>



