@model RecipePrepairViewModel

@{
    ViewData["Title"] = "Калкулация";

}

<div class="container text-center">
    <h2 class="text-center">@ViewData["Title"]</h2>
    <hr />

    <div class="text-center row">

        <div class="row">
            <form method="post">
                <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">


                    <div class="input-group mb-3">
                        <label asp-for="RawQuantity" class="input-group-text">Сурово количество</label>
                        <input asp-for="RawQuantity" class="form-control" placeholder="Сурово количество в кг..." type="number" step="0.01">
                        <span asp-validation-for="RawQuantity" class="small text-danger"></span>
                        <span class="input-group-text">кг.</span>
                    </div>

                    <div class="input-group mb-3">
                        <label asp-for="StartDate" class="input-group-text" for="startDate">Начална дата</label>
                        <input asp-for="@Model.StartDate" id="startDate" class="form-control" type="date" placeholder="НАчална дата на зреене...">
                        <span asp-validation-for="StartDate" class="small text-danger"></span>
                    </div>

                    <div class="text-center">
                        <input class="btn btn-primary mt-3" type="submit" value="Калкулирай" />
                    </div>

                    <div class="input-group mb-3">
                        <label asp-for="ExpectedQuantity" class="input-group-text">Очаквано количество</label>
                        <input asp-for="ExpectedQuantity" class="form-control" disabled>
                        <span asp-validation-for="StartDate" class="small text-danger"></span>
                    </div>

                </div>

            </form>
            <div class="card col-4" style="width: 50%;">
                <img class="card-img-top"
                     src="@Model.Recipe.ImageUrl" alt="Recipe Image">
                <div class="card-body te">

                    <h4 class="card-title mt-1">@Model.Recipe.Name</h4>
                    <hr />
                    <h5>Необходими продукти: </h5>

                    @foreach (var ing in Model.Recipe.Ingredients)
                    {
                        <p>@ing.IngredientName : @Math.Round(ing.Quantity * Model.RawQuantity, 2) @ing.MeasureUnit</p>

                    }

                    @foreach (var sp in Model.Recipe.Spices)
                    {
                        <p>@sp.SpiceName : @Math.Round(sp.Quantity * Model.RawQuantity, 2) @sp.MeasureUnit</p>

                    }
                    <br />
                    <h5 class="mb-0 card-text">Начин на приготвяне:</h5>
                    <br />
                    <p class="mb-0"> @Model.Recipe.Description</p>
                   
                </div>

                <form class="input-group-sm" asp-controller="Calculation" asp-action="AddToPrepairings" method="post">
                    <input type="submit" value="Добави в зреещи" class="fs-6 btn btn-success mb-3 p-2" />
                </form>

            </div>
        </div>

    </div>
</div>
</div>



