@model List<IngredientSpiceGetModel>;


<h1 class="text-center">@ViewBag.Title</h1>
<hr />
<div class="form-group">
    @foreach (var product in this.Model)
    {
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col col-xl-10">
                    <div class="card" style="border-radius: 1rem;">
                        <div class="row g-0">
                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                <img src=@product.ImageUrl
                                     alt="Снимка" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                            </div>
                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                <div class="card-body p-4 p-lg-5 text-black">

                                    <div class="form-group">
                                        <h4>@product.Name</h4>
                                        <hr>
                                        <p>@product.Description</p>


                                        <div class="btn-group" style="justify-content: space-around">

                                            @if (User.IsInRole("Admin"))
                                            {
                                                string actionName = Url.Action().ToString();
                                                @if (actionName == "/Main/AllIngredients")
                                                {
                                                    <form class="input-group-sm" asp-route-id="@product.Id" asp-area="Admin" asp-controller="Edit" asp-action="EditIngredient" method="get">
                                                        <input type="submit" value="Редактирай" class="fs-6 btn btn-warning mb-3 p-2" />
                                                    </form>

                                                    <form class="input-group-sm" asp-route-id="@product.Id" asp-area="Admin" asp-controller="Delete" asp-action="DeleteIngredient" method="post">
                                                        <input type="submit" value="Изтрий" class="fs-6 btn btn-danger mb-3 p-2" />
                                                    </form>
                                                }
                                                else
                                                {
                                                    <form class="input-group-sm" asp-route-id="@product.Id" asp-area="Admin" asp-controller="Edit" asp-action="EditSpice" method="get">
                                                        <input type="submit" value="Редактирай" class="fs-6 btn btn-warning mb-3 p-2" />
                                                    </form>

                                                    <form class="input-group-sm" asp-route-id="@product.Id" asp-area="Admin" asp-controller="Delete" asp-action="DeleteSpice" method="post">
                                                        <input type="submit" value="Изтрий" class="fs-6 btn btn-danger mb-3 p-2" />
                                                    </form>
                                                }

                                               
                                            }

                                        </div>

                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    }



</div>
