@model IngredientViewModel


<div class="container form-group" style="width: 50%;">
    <form class="input-group-sm" asp-area="Admin" asp-controller="Add"
          asp-action="AddListIngredient" asp-route-id="" method="post">

        <label asp-for="IngredientId">Изберете продукт</label>
        <select asp-for="IngredientId" class="form-control">
            @foreach (var ing in Model.Ingredients)
            {
                <option value="@ing.Id">@ing.Name</option>
            }

        </select>
        <span asp-validation-for="IngredientId" class="small text-danger"></span>


        <div class="form-group">
            <label asp-for="Quantity">Количество за 1 кг</label>
            <input asp-for="Quantity" class="form-control" placeholder="0.00">
            <span asp-validation-for="Quantity" class="small text-danger"></span>
        </div>

        <label asp-for="IngredientId">Мярка</label>
        <select asp-for="MeasureId" class="form-control">
            @foreach (var measure in Model.Measures)
            {
                <option value="@measure.Id">@measure.Unit</option>
            }
        </select>
        <span asp-validation-for="MeasureId" class="small text-danger"></span>


        <div class="text-center">
            <input class="btn btn-primary mt-3" type="submit" value="Добави" />
        </div>

    </form>

    @if (Model.AddedIngredients.Any())
    {
        <h3>Добавени продукти!</h3>

        @foreach (var msg in Model.AddedIngredients)
        {
            <div class="card">
                <div class="d-inline-flex p-2 justify-content-between ">
                    <p class="text-dark">@msg.IngredientName @msg.Quantity @msg.MeasureUnit</p>

                    <form class="input-group-sm"
                          asp-route-id=@msg.IngredientId
                          asp-route-quantity=@msg.Quantity
                          asp-route-measureId=@msg.MeasureId
                          asp-area="Admin" asp-controller="Add" asp-action="DeleteIngredientFromList" method="post"
                          onclick="return confirm('Искате ли да изтриете продукта')">
                        <input type="submit" value="Изтрий" class="fs-6 btn btn-danger mb-3 p-2" />
                    </form>

                </div>
            </div>
        }
        <form class="input-group-sm" asp-area="Admin" asp-controller="Add"
              asp-action="AddRecipe" asp-route-id="" method="get">
            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Запази" />
            </div>
        </form>
    }
    else
    {
        <h3>Няма добавени продукти</h3>
    }


</div>
