@using Mezeta.Core.Models
@model IEnumerable<RecipeViewModel>

@{
    ViewData["Title"] = "Всички рецепти";
}

@if (Model.Count() == 0)
{
    <h3 class="text-center">Все още няма добавени рецепти</h3>
}
//да се довърши вюто когато вече има рецепти в базата
else
{
    @* <div class="container text-center">
         <h2 class="text-center">@ViewData["Title"]</h2>
       <div class="text-center row">
            @foreach (var recipe in Model)
            {
                <div class="card col-4" style="width: 20rem;">
                    <img class="card-img-top" style="width: 18rem;"
                 src="@recipe.ImageUrl" alt="Recipe Image">
                    <div class="card-body">

                        <h5 class="card-title mt-1">@recipe.Name</h5>


                        <p>Необходими продукти: </p>
                        @foreach (var ing in recipe.Ingredients)
                        {
                            <p>@ing.Name : @ing.Quantity @ing.Quantity</p>

                        }

                        @foreach (var sp in recipe.Spices)
                        {
                            <p>@sp.Name : @sp.Quantity @sp.Quantity</p>

                        }

                        <p class="mb-0">Начин на приготвяне:</p>
                        <p class="mb-0"> @recipe.Description</p>
                    </div>

                    <form class="input-group-sm" asp-route-movieId="@recipe.Id" asp-controller="Main" asp-action="AddToFavorites" method="post">
                        <input type="submit" value="Add to Favorites" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>

                    <form class="input-group-sm" asp-route-movieId="@recipe.Id" asp-controller="Main" asp-action="AddToPrepairing" method="post">
                        <input type="submit" value="Add to Prepairing" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>
                </div>
            }
        </div>
    </div> *@
    
        <hr />

        
}
