@model IEnumerable<RecipeViewModel>

@{
    ViewData["Title"] = "Всички рецепти";
}

@if (Model.Count() == 0)
{
    <h3 class="text-center">Все още няма добавени рецепти</h3>
}
else
{
    <div class="container text-center">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <hr />

        <div class="text-center row">
            @foreach (var recipe in Model)
            {
                <div class="card col-4" style="width: 50%;">
                    <img class="card-img-top"
                         src="@recipe.ImageUrl" alt="Recipe Image">
                    <div class="card-body te">

                        <h4 class="card-title mt-1">@recipe.Name</h4>
                        <hr />
                        <h5 >Необходими продукти: </h5>
                        @foreach (var ing in recipe.Ingredients)
                        {
                            <p>@ing.IngredientName : @ing.Quantity @ing.MeasureUnit</p>

                        }

                        @foreach (var sp in recipe.Spices)
                        {
                            <p>@sp.SpiceName : @sp.Quantity @sp.MeasureUnit</p>

                        }
                        <br />
                        <h5 class="mb-0 card-text">Начин на приготвяне:</h5>
                        <br />
                        <p class="mb-0"> @recipe.Description</p>
                    </div>

                    <form class="input-group-sm" asp-route-movieId="@recipe.Id" asp-controller="Main" asp-action="AddToFavorites" method="post">
                        <input type="submit" value="Add to Favorites" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>

                    <form class="input-group-sm" asp-route-movieId="@recipe.Id" asp-controller="Main" asp-action="AddToPrepairing" method="post">
                        <input type="submit" value="Add to Prepairing" class="fs-6 btn btn-success mb-3 p-2" />
                    </form>

                    @if (User.IsInRole("Admin"))
                    {
                        <partial name="~/Areas/Admin/Views/Shared/_IgredientSpiceButtonsPartial.cshtml" />
                    }
                </div>
            }
        </div>
    </div>


}
