@model IEnumerable<RecipeViewModel>

@{
    ViewData["Title"] = "Любими рецепти";
}

@if (Model.Count() == 0)
{
    <h3 class="text-center">Все още няма добавени рецепти</h3>
}
else
{
    <div class="container text-center">
        <h2 class="text-center">@ViewData["Title"]</h2>
        <hr />

        <div class="text-center row">
            @foreach (var recipe in Model)
            {

                <div class="card opacity-75 bg-black" style="width: 45%;">
                    @if (string.IsNullOrEmpty(recipe.ImageUrl))
                    {
                        <img class="card-img-top"
                             src="https://img.freepik.com/free-vector/label-design-with-salami_1308-70739.jpg?w=1480&t=st=1713716098~exp=1713716698~hmac=5e6a7b9c5a8d4f0b4eeb70e519d08618ad0dde5c16334fd8938f0143d374e085" alt="Recipe Image">
                    }
                    else
                    {
                        <img class="card-img-top"
                             src="@recipe.ImageUrl" alt="Recipe Image">
                    }
                    <div class="card-body">

                        <h4 class="card-title mt-1">@recipe.Name</h4>
                        <hr />
                        <h5>Необходими продукти: </h5>
                        @foreach (var ing in recipe.Ingredients)
                        {
                            <p>@ing.IngredientName : @Math.Round(ing.Quantity, 2) @ing.MeasureUnit</p>

                        }

                        @foreach (var sp in recipe.Spices)
                        {
                            <p>@sp.SpiceName : @Math.Round(sp.Quantity, 2) @sp.MeasureUnit</p>

                        }
                        <br />
                        <h5 class="mb-0 card-text">Начин на приготвяне:</h5>
                        <br />
                        <p class="mb-0"> @recipe.Description</p>
                    </div>

                    <div class="btn-group" style="justify-content: space-around">
                        <form class="input-group-sm" asp-route-recipeId="@recipe.Id" asp-controller="Main" asp-action="RemoveFromFavorites" method="post">
                            <input type="submit" value="Remove From Favorites" class="fs-6 btn btn-success mb-3 p-2" />
                        </form>

                        <form class="input-group-sm" asp-route-id="@recipe.Id" asp-controller="Calculation" asp-action="CalculationsRecipe" method="get">
                            <input type="submit" value="Add to Prepairing" class="fs-6 btn btn-success mb-3 p-2" />
                        </form>

                    </div>
                </div>
            }
        </div>
    </div>


}
