@model RecipeViewModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <div class="card mb-3">
                <div class="btn-group" role="group">
                    @if (Model.Id != 0)
                    {
                        <a asp-area="Admin" asp-route-id="@Model.Id" asp-controller="Edit" asp-action="EditListIngredient"
                           class="btn btn-outline-secondary">Добави/редактирай продуктите за рецептата</a>
                        <span asp-validation-for="Ingredients" class="small text-danger"></span>

                        <a asp-area="Admin" asp-route-id="@Model.Id" asp-controller="Edit" asp-action="EditListSpice"
                           class="btn btn-outline-secondary">Добави/редактирай подправките за рецептата</a>
                        <span asp-validation-for="Spices" class="small text-danger"></span>
                    }
                    else
                    {
                    <a asp-area="Admin" asp-controller="Add" asp-action="AddListIngredient"
                       class="btn btn-outline-secondary">Добави/редактирай продуктите за рецептата</a>
                    <span asp-validation-for="Ingredients" class="small text-danger"></span>

                    <a asp-area="Admin" asp-controller="Add" asp-action="AddListSpice"
                       class="btn btn-outline-secondary">Добави/редактирай подправките за рецептата</a>
                    <span asp-validation-for="Spices" class="small text-danger"></span> 
                    }

                </div>
            </div>

            <div class="form-group">
                <label asp-for="Name">Заглавие</label>
                <input asp-for="Name" class="form-control" placeholder="Заглавие на рецептата...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl">Снимка</label>
                <input asp-for="ImageUrl" class="form-control" placeholder="URL снимка...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description">Описание</label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Описание..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>

            @if (Model.Ingredients.Any())
            {
                <h3>Добавени продукти!</h3>
                @foreach (var ing in Model.Ingredients)
                {
                    <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0">
                                <p class="text-dark">@ing.IngredientName @ing.Quantity @ing.MeasureUnit</p>
                            </blockquote>
                        </div>
                    </div>
                }

            }

            @if (Model.Spices.Any())
            {
                <h3>Добавени подправки!</h3>
 
                @foreach (var sp in Model.Spices)
                {
                    <div class="card">
                        <div class="card-body">
                            <blockquote class="blockquote mb-0 text-dark">
                                <p class="text-dark">@sp.SpiceName @sp.Quantity @sp.MeasureUnit</p>
                            </blockquote>
                        </div>
                    </div>
                }
            
            }

            @if (!Model.Spices.Any() && !Model.Ingredients.Any())
            {
                <h3 class="text-center">Няма добавени продукти</h3>
            }

            @if (ViewBag.Message != null)
            {
                <span class="text-danger">@ViewBag.Message</span>
            }

            <div class="text-center">
                <input class="btn btn-secondary mt-3" type="submit" value="Запази рецептата" />
            </div>
        </form>

    </div>
</div>
